
    <div class="about-us-container">
        <h1>About Us</h1>
        <p>Welcome to Travel Buddies! We are a community of travel enthusiasts who share our experiences, tips, and recommendations to help you plan your next adventure.</p>
        
        <div class="profile-card">
            <!-- <img src="https://i.postimg.cc/52rDJqQh/IMG-0969.jpg" alt="Viktoriya's Profile Picture" class="profile-picture">
            <div class="profile-info"> -->
                <h2>Viktoriya Shvaya</h2>
                <p>
                    Hello! I am 23 years old and I am from Philadelphia. I work as a florist and coordinator at a local flower shop.
                    I was raised in a Christian family and got inspiration from my brother in law to try out Bethel Tech. I love to be at the beach and spend time in nature.
                    Since joining Bethel my faith has grown so much and I am so excited to see what God has in store for my future.
                
                </p>

                <h3>Jose Garcia Duran</h3>
                <p>
                    Hello I am 25 years old and I am from Californina. I work as a laboror in a warehouse. I joined bethal in hopes 
                    of being able to provide more for my partner and my 9 month old daughter. I am excited but nervous of the tough road ahead of me 
                    going into a new field. 
                </p>

                <h4>Levi Duckworth</h4>
                <p>
                    My name is Levi and I am from Charlotte, NC. My passion is to travel the world and share it with my friends. 
                    Building a community is something that keeps our world spinning. So, this project is something that hits home for me. 
                    I love to travel and I want something that I can share with my friends and family. 
                    Everyone always asks for a picture when you get back!
                </p>

            </div>
        </div>

<!--           
      </div>
       -->
