
    <div class="about-us-container">
        <h1>About Us</h1>
        <p>Welcome to Travel Buddies! We are a community of travel enthusiasts who share our experiences, tips, and recommendations to help you plan your next adventure.</p>
        
        <div class="profile-card">
            <img src="https://i.postimg.cc/52rDJqQh/IMG-0969.jpg" alt="Viktoriya's Profile Picture" class="profile-picture">
            <div class="profile-info">
                <h2>Viktoriya Shvaya</h2>
                <p>
                    Hello! I am 23 years old and I am from Philadelphia. I work as a florist and coordinator at a local flower shop.
                    I was raised in a Christian family and got inspiration from my brother in law to try out Bethel Tech.
                    Since joining Bethel my faith has grown so much and I am so excited to see what God has in store for my future.
                
                </p>
            </div>
        </div>




        <footer class="footer">
            <p><a routerLink="/about-us">About Us</a></p>
          </footer>
          
      </div>
      
