<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Locations to Visit</title>
<!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>

    <div class="locations-container">
       
        
        <div *ngFor="let location of locations" class="location">
            <h2>{{ location.message }}</h2>
            <img [src]="location.imgUrl" [alt]="location.message">
            <div class="rating star-rating">
                <input type="radio" id="star5-1" name="rating1" value="5">
                <label for="star5-1">&#9733;</label>
                <input type="radio" id="star4-1" name="rating1" value="4">
                <label for="star4-1">&#9733;</label>
                <input type="radio" id="star3-1" name="rating1" value="3">
                <label for="star3-1">&#9733;</label>
                <input type="radio" id="star2-1" name="rating1" value="2">
                <label for="star2-1">&#9733;</label>
                <input type="radio" id="star1-1" name="rating1" value="1">
                <label for="star1-1">&#9733;</label>
            </div>
            <textarea class="review-textarea" placeholder="Leave a review"></textarea>
            <button class="submit-btn">Submit</button>
        </div>
           
        </div>
        <br>


</body>
</html>
