<body>
  <div class="SignUp-box">
<form (ngSubmit)="signUp()">
    <!-- <img class="icon" src="" alt="Logo"> -->
    <h1>Create Account</h1>
    <input placeholder="Enter First Name" [(ngModel)]="newUser.firstName" type="text" name="firstName" ><br><br>
    
    <input placeholder="Enter Last Name" [(ngModel)]="newUser.lastName" type="text" name="lastName" ><br><br>
    
    <input placeholder="Enter Username" [(ngModel)]="newUser.username" type="text" name="username" ><br><br>
    
    <input placeholder="Enter Password" [(ngModel)]="newUser.password" type="text" name="password" ><br><br>
    
    <button>
      Sign Up
    </button>
    <p>
        Already have an account? <br><br>
        <a routerLink="/signin" title="Sign In">Sign In</a>
    </p>
</form>
</div>
</body>
  