<body>
  <div class="SignUp-box">
<form (ngSubmit)="signUp()">
    <!-- <img class="icon" src="" alt="Logo"> -->
    <h1>Create Account</h1>
    <label for="FirstName">First Name</label>
    <input placeholder="Enter First Name" [(ngModel)]="newUser.firstName" type="text" name="firstName" >
    <label for="LastName">Last Name</label>
    <input placeholder="Enter Last Name" [(ngModel)]="newUser.lastName" type="text" name="lastName" >
    <label for="username">Username</label>
    <input placeholder="Enter Username" [(ngModel)]="newUser.username" type="text" name="username" >
    <label for="Password">Password</label>
    <input placeholder="Enter Password" [(ngModel)]="newUser.password" type="text" name="password" >
    
    <button a routerLink="/home" title="Home page">
      Sign Up
    </button>
    <p>
        Already have an account? <br><br>
        <a routerLink="/login" title="Log In">Log In</a>
    </p>
</form>
</div>
</body>
  