<header class="header">
    <h1>Travel Buddies</h1>
    
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button type="button">Search</button>
    </div>
</header>
<nav class="navbar">
    <ul>
        <li><a routerLink="/login">Log In</a></li>
        <li><a routerLink="/signup">Sign Up</a></li>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/locations">Locations</a></li>
        <li><a routerLink="/favorites">Favorites</a></li>
        
    </ul>
</nav>